In [1]:
from os import listdir, mkdir
import pandas as pd

In [2]:
def printResults(folder_path):
    filename = [f for f in listdir(folder_path) if f.endswith('.tsv')]
    d = pd.DataFrame()
    for f in filename:
        df = pd.read_csv(folder_path + '/' + f, sep='\t', dtype=str)
        df = df.drop(df.columns[0], axis=1)
        d = d.append(df)
    return d

In [3]:
printResults('results_allfaith')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,csection,0.21253259938897565,0.045170105803034814,No vs. Yes,0.05,0.03626582427986224
0,recent_antibiotic_use,1.3603909553421794,1.8506635513768075,<1 week vs. not collected,0.05,3.17269904095685e-13
0,age_years,1.6730997769860239,2.7992628637506827,0.75 vs. 3,0.05,1.6037129605425302e-22

In [4]:
printResults('results_tp1faith')

Empty DataFrame
Columns: []
Index: []

In [5]:
printResults('results_tp2faith')

Empty DataFrame
Columns: []
Index: []

In [6]:
printResults('results_tp3faith')

Empty DataFrame
Columns: []
Index: []

In [7]:
printResults('results_allshannon')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,age_years,1.435615881523652,2.0609929592829324,0.75 vs. 3,0.05,2.1964450420973456e-19
0,recent_antibiotic_use,1.2933567137071653,1.6727715888913983,<1 week vs. not collected,0.05,1.3209288727634582e-12

In [8]:
printResults('results_tp1shannon')

Empty DataFrame
Columns: []
Index: []

In [9]:
printResults('results_tp2shannon')

Empty DataFrame
Columns: []
Index: []

In [10]:
printResults('results_tp3shannon')

Empty DataFrame
Columns: []
Index: []

In [11]:
printResults('beta_results_allweighted')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,recent_antibiotic_use,0.23435596803383987,0.05492271975307818,<1 month vs. <12 months,0.05,0.04079184163167367
0,age_years,0.09690015314964544,0.00938963968042474,0.75 vs. 3,0.05,0.0001999600079984003

In [12]:
printResults('beta_results_tp1weighted')

Empty DataFrame
Columns: []
Index: []

In [13]:
printResults('beta_results_tp2weighted')

Empty DataFrame
Columns: []
Index: []

In [14]:
printResults('beta_results_tp3weighted')

Empty DataFrame
Columns: []
Index: []

In [15]:
printResults('beta_results_allunweighted')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,recent_antibiotic_use,1.412153683377496,1.994178025476629,<1 week vs. not collected,0.05,0.0001999600079984003
0,waz_yr2,0.23381593411565701,0.05466989104637726,"(-0.84,2.79] vs. (-1.59,-0.84]",0.05,0.003599280143971206
0,age_years,1.4894357437900858,2.218418834879526,0.75 vs. 3,0.05,0.0001999600079984003

In [16]:
printResults('beta_results_tp1unweighted')

Empty DataFrame
Columns: []
Index: []

In [17]:
printResults('beta_results_tp2unweighted')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,income,0.6204306192975122,0.3849341533618945,"(7e+03,1e+04] vs. [3e+03,7e+03]",0.05,0.014397120575884824

In [18]:
printResults('beta_results_tp3unweighted')

Empty DataFrame
Columns: []
Index: []

In [19]:
printResults('beta_results_alljaccard')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,recent_antibiotic_use,1.3468239340616988,1.813934709361431,<1 week vs. not collected,0.05,0.0001999600079984003
0,waz_yr2,0.24840444216068705,0.06170476688516212,"(-0.84,2.79] vs. (-1.59,-0.84]",0.05,0.0057988402319536095
0,age_years,1.2841388444926631,1.649012571934952,0.75 vs. 3,0.05,0.0001999600079984003

In [20]:
printResults('beta_results_tp1jaccard')

Empty DataFrame
Columns: []
Index: []

In [21]:
printResults('beta_results_tp2jaccard')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,income,0.5372104722889404,0.2885950915369064,"(7e+03,1e+04] vs. [3e+03,7e+03]",0.05,0.01919616076784643

In [22]:
printResults('beta_results_tp3jaccard')

Empty DataFrame
Columns: []
Index: []

In [23]:
printResults('beta_results_allbray')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,age_years,0.21771825275489146,0.0474012375826428,0.75 vs. 3,0.05,0.0001999600079984003
0,recent_antibiotic_use,0.16821635283766076,0.028296741362004378,<1 month vs. <1 week,0.05,0.03159368126374725

In [24]:
printResults('beta_results_tp1bray')

Empty DataFrame
Columns: []
Index: []

In [25]:
printResults('beta_results_tp2bray')

Empty DataFrame
Columns: []
Index: []

In [26]:
printResults('beta_results_tp3bray')

Empty DataFrame
Columns: []
Index: []

In [27]:
printResults('beta_results_allaitchison')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,recent_antibiotic_use,0.5874089908389057,0.34504932251838166,<1 week vs. not collected,0.05,0.0001999600079984003
0,age_years,0.5313424691844868,0.2823248195590673,"(0.75,2] vs. 0.75",0.05,0.0001999600079984003
0,waz_yr2,0.165316348275486,0.027329495007141782,"(-0.84,2.79] vs. (-1.59,-0.84]",0.05,0.006998600279944011

In [28]:
printResults('beta_results_tp1aitchison')

Empty DataFrame
Columns: []
Index: []

In [29]:
printResults('beta_results_tp2aitchison')

,column_name,effect_size,effect_size_square,effect_size_values,pval_corrected,pval
0,income,0.15318629791238014,0.02346604186810048,"(1e+04,1.5e+04] vs. (7e+03,1e+04]",0.05,0.004799040191961607

In [30]:
printResults('beta_results_tp3aitchison')

Empty DataFrame
Columns: []
Index: []